.ui.container {
    width: 70%;
    height: 100%;
    min-height: calc(100vh - 200px);
}

/* Nepali Date field */
.input-datepicker {
    margin-bottom: 12px;
}

.ui.centered.cards {
    justify-content: unset;
    margin-top: 12px;
}

.content>.ui.equal.width.form {
    padding: unset;
    min-width: 90%;
}