.leftsideBar {
    height: 100%;
    width: 19vw;
    background-color: #000408;
    margin: 2rem;
    border-radius: 2rem;
    color: white;
    padding: 24px;
}

.leftsideBar>a>h1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: white;
}

.leftsideBar>a>h1>span {
    font-size: 1rem;
    color: aqua;
    cursor: pointer;
}

.ui.card,
.ui.cards>.card {
    width: 100%;
}

.ui.card.events>.content>img {
    border: 1px solid black;
}

.rules {
    display: flex;
    padding: 12px 0;
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 1px solid white;
}

.rules>span {
    margin-right: 0.5rem;
    font-size: 0.8rem;
}

.rules>p {
    line-height: 1.5rem;
}

@media screen and (max-width: 500px) {

    .family-chart {
        margin: 0;
        width: 100%;
    }

    .leftsideBar {
        width: 100vw;
        height: 100%;
        margin: 0;
        border-radius: 0;
    }

    .ui.cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .ui.card.events {
        margin-right: 16px;
    }
}