/* RightSidebar Title Back buttons */
.sidebarButton {
    display: flex;
    margin: 0 24px;
    margin-top: 24px;
    align-items: center;
}

.sidebarButton>i {
    font-size: 2rem;
    margin-right: 16px;
    line-height: normal;
}

.sidebarButton>h1 {
    line-height: 1rem;
    margin: 0;
}

/* Profile Container */
.rightSideBar {
    height: 100%;
    width: 19vw;
    background-color: #0e3d7a;
    color: white;
    transition: transform 0.3s ease;
}

.rightSideBar>nav {
    margin: 24px;
}

.userBasicInfo {
    display: flex;
    margin-bottom: 24px;
}

.userPicture {
    width: 6rem;
    height: 6rem;
    background-position: center center;
    background-size: cover;
    margin-right: 16px;
}

.userTitles>* {
    margin: 0;
    line-height: 2rem;
}

.userMoreInfo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-bottom: 8px;
}

.detailTitle {
    grid-column: 1;
    grid-row: 1;
    background-color: lightblue;
    color: rgb(59, 85, 96);
    border-radius: 4px;
    width: 100%;
    padding: 4px 0;
    text-align: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
}

.detailtext {
    grid-column: 2/5;
    grid-row: 1;
    margin-left: 18px;
}

.ui.fluid.input.disabled.transparent.detailtext {
    opacity: 1;
}

.ui.fluid.input.detailtext>input {
    color: black;
    font-size: 1rem;
}

.ui.fluid.input.detailtext.disabled.transparent>input {
    color: white;
    font-size: 1rem;
}


/* Buttons */
.editButtons {
    margin: 24px;
    display: flex;
    flex-wrap: wrap;
}

.fluid.ui.buttons.spacing {
    margin-bottom: 8px;
}

.fluid.ui.buttons.spacing>button:first-child {
    margin-right: 15px;
}

/* Buttons */
.ui.segment {
    display: flex;
    flex-wrap: wrap;
}

.ui.button.animated.fade.primary {
    margin: 4px auto;
}