/* .sideBar {
    background-color: teal;
    color: white;
} */

.rightSideBar {
    height: 100vh;
    width: 19vw;
    background-color: #0e3d7a;
    color: white;
    transition: transform 0.3s ease;
}

.rightSideBar > nav{
    margin: 24px;
}

.userPhoto {
    width: 65%;
    border-radius: 50%;
}