* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landingPage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
}