* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100%;
    background-color: #0a131f;
}

.app>* {
    scrollbar-width: none;
    overflow-y: scroll;
}

.app>*::-webkit-scrollbar {
    display: none;
}